body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:'square Peg', cursive;
    font-size: 30px;
    font-weight: bold;
    color:chartreuse;
    background-color: black;
}

.square{
    height: 50px;
    width: 50px;
    border: 1px solid greenyellow;
    display:flex;
    justify-content: center;
    margin:6px;
} 



